<div class="row">
  <div class="span4">
  	<h1>Coming Soon</h1>
  </div>
  <div class="span8">
	<div class="hero-unit">
		<h1>Portal Abroad</h1>
	<p>
	Homepage under construction
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	<p><%= link_to "Sign Up Now", '#', class: "btn btn-primary btn-large" %>
</p>
</div>
	</div>
</div>
</p>


